@inject AppDbContext _context
@inject SignInManager<Cliente> signInManager
@inject UserManager<Cliente> userManager
@inject CarroCompra _carro
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppMiercoles</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">WebAppMiercoles</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categorias
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @foreach (var C in _context.tblCategorias.ToList())
                                {

                                    <a asp-controller="Cliente" asp-action="Home" asp-route-CategoriaId="@C.CategoriaId" class="dropdown-item">@C.Nombre</a>

                                }
                            </div>
                        </li>
                        @if (signInManager.IsSignedIn(User))
                        {
                            var Acceso = User.Claims.Where(x => x.Type == "Admin").FirstOrDefault();
                            if (Acceso != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Categoria" asp-action="ListaCategorias">Adm Categorias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="ListaProductos">Adm Productos</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="MisPedidos">Ver Mis Pedidos</a>
                                </li>
                            }

                        }
                    </ul>

                </div>
                <!-- Right elements -->
                <div class="d-flex align-items-center">
                    <!-- Icon -->
                    <a class="text-reset me-3 mr-3"
                       asp-controller="Carro" asp-action="Index">
                        <i class="fas fa-shopping-cart fa-2x"></i>
                        @{
                            _carro.ItemsCarro = _carro.GetItemsCarro();
                        }
                    <span class="badge badge-danger">@_carro.ItemsCarro.Count</span>

                    </a>

                    <a class="text-reset me-3 mr-3" href="#">
                        <i class="fas fa-credit-card fa-2x"></i>
                    </a>
                </div>
                <!-- Right elements -->
            </div>
        </nav>
        <div class="bg-dark mb-5" style="height:20px; font-size:small;">
            <div class="container" style="height:20px;">
                <partial name="_loginPartial" />
            </div>
        </div>
    </header>
    <div class="container mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--
    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            &copy; 2021 - WebAppMiercoles - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
